Language: Cpp

BasedOnStyle: Microsoft

AlignAfterOpenBracket: Align
AlignOperands: Align
ReferenceAlignment: Left
BreakBeforeBraces: Attach
BreakInheritanceList: BeforeComma
AllowAllArgumentsOnNextLine: true
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
IndentAccessModifiers: false
AccessModifierOffset: -4
PointerAlignment: Left
IndentWidth: 4
AlwaysBreakTemplateDeclarations: Yes
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never